<!DOCTYPE html>
<html lang="kr">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,  maximum-scale=1.0, shrink-to-fit=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="google-adsense-account" content="ca-pub-3352274765791981">
        <meta name="description" content="모두가 만드는 검은사막 레시피 BDR">
        <meta property="og:title" content="검은사막 레시피 - BDR">
        <meta property="og:description" content="모두가 만드는 검은사막 레시피 BDR">
        <meta property="og:image" content="https://bdr.gshn.kr/img/blackSpirit_og.png">
		<title><%= Array.isArray(items) && items.length > 0 && items[0].name ? items[0].name + ' - ' : '' %>BDR - 검은사막 레시피</title>
		<link rel="stylesheet" href="/css/main.css?v=<%= main_css %>" type="text/css" />
		<link rel="stylesheet" href="/css/icon.css?v=<%= icon_css %>" type="text/css" />
		<script async type="text/javascript" src="/lib/lodash.4.6.1.js"></script>
		<script async type="text/javascript" src="/js/main.js?v=<%= main_js %>"></script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3352274765791981" crossorigin="anonymous"></script>
	</head>
	<body>
		<header class="contentHeader">
			<a href="/"><div class="homeLink"><img src="/img/blackSpirit.png" alt="흑정령(홈아이콘)"></div></a>
			<div class="searchWrap">
				<input type="text" id="searchText" placeholder="파트너! 어서 궁금한 아이템명을 입력해봐!" spellcheck="false">
				<div id="autoComplete" class="empty"></div>
				<div id="toolBox" class="empty">
					<div class="historyWrap">
						<div class="toolTitle">검색기록</div>
						<div id="historyList">
							<span class="notExist">아직 기록이 없습니다.</span>
						</div>
					</div>
					<div class="bookmarkWrap">
						<div class="toolTitle">북마크</div>
						<div id="bookmarkList">
							<span class="notExist">아직 북마크가 없습니다.</span>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
		<% if(!Array.isArray(items) || items.length == 0) { %>
			<div class="content">아이템을 찾을 수 없습니다.</div>
		<% } else { %>
			<% for (let item of items) { %>
			<div class="content" data-item-id="<%= item.itemIdEnc %>">
				<div class="itemHeader">
					<div class="left">
						<div class="itemImg"><img src="<%= item.itemImage && item.itemImage.imgUrl %>" alt="<%= item.name %>" /></div>
						<div class="itemName"><%= item.name %></div>
					</div>
					<div class="right">
						<div class="btnWrap">
							<button class="btn main" onclick="openEditLayer(event)" data-item-id="<%= item.itemIdEnc %>"><i class="icon ic16 icon-edit"></i></button>
							<div class="likeWrap">
								<button class="btn solid success" data-value="1" data-item-id="<%= item.itemIdEnc %>">
									<i class="icon ic16 icon-like-fill"></i>
								</button>
								<div class="likeCnt" data-item-id="<%= item.itemIdEnc %>"><%= item.likeCount %></div>
								<button class="btn solid reverse" data-value="0" data-item-id="<%= item.itemIdEnc %>">
									<i class="icon ic16 icon-dislike-fill"></i>
								</button>
							</div>
							<button class="btn gold bookmark" onclick="bookmark(event)" data-img-url="<%= item.itemImage && item.itemImage.imgUrl %>" data-name="<%= item.name %>" data-item-cd="<%= item.itemCdEnc %>">
								<i class="icon ic16 icon-bookmark"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="itemDesc"><%- item.desc.replace('\n', '<br />') %></div>
				<hr class="separator">
				<div class="subtitle">획득 방법</div>
				<div class="earnList">
					<% for (var i = 0 ; Array.isArray(item.Earns) && i < item.Earns.length; i++) {%>
					<div class="row">
						<div class="colHeader">
							<% if (item.Earns[i].type == 'craft') { %>
								<label>
									<% if (item.Earns[i].path != null) { %>
										<%= item.Earns[i].path %>
									<% } %>
									<%= item.Earns[i].work %></br>
									<div>x <input type="text" class="count" style="max-width: 46%;" data-earn-input="<%= i %>" value="1">회</div>
								</label>
							<% } else { %>
								<%= item.Earns[i].work %>
							<% } %>
						</div>
						<div class="row recipe">
							<% if (item.Earns[i].type != 'craft') { %>
								<% if (item.Earns[i].path != null) { %>
									<%= item.Earns[i].path %>
								<% } %>
							<% } %>
							<% for (let craft of item.Earns[i].Crafts) { %>
								<% if (!craft.craftItems || craft.craftItems.length == 0) { continue } %>
								<div class="col" style="align-items: center;">
									<div class="miniItemLabel" onclick="location.href='<%= craft.craftItems[0].url %>'">
										<img class="miniItem" src="<%= craft.craftItems[0] && craft.craftItems[0].imgUrl %>" alt="<%= craft.craftItems[0].name %>" />
										<span><%= craft.craftItems[0].name %></span>
									</div>
									<div><%= craft.count %> x <input class="count" type="text" data-earn-id="<%= i %>" data-ori-value="<%= craft.count %>" readonly></div>
								</div>
							<% } %>
						</div>
					</div>
					<% } %>
				</div>
				<% if (Array.isArray(item.Usages) && item.Usages.length > 0) { %>
					<hr class="separator">
					<div class="subtitle"><%= item.name %> - 제작가능 아이템</div>
					<div class="usageList">
					<% for (let usage of item.Usages) { %>
						<% if (!usage.usageItems || usage.usageItems.length == 0) { continue } %>
						<div class="miniItemLabel" onclick="location.href='<%= usage.usageItems[0].url %>'">
							<img class="miniItem" src="<%= usage.usageItems[0] && usage.usageItems[0].imgUrl %>" alt="<%= usage.usageItems[0].name %>" />
							<span><%= usage.usageItems[0].name %></span>
						</div>
					<% } %>
					</div>
				<% } %>
			</div>
			<% } %>
		<% } %>
		</div>
	</body>
	<div class="layerPopup" id="layerEdit">
		<div class="dimmed"></div>
		<div class="contentBox">
			<button class="btn closeBtn" onclick="editLayerClose(event)"><i class="icon ic16 icon-close"></i></button>
			<div class="inputWrap name">
				<div class="inputTitle">아이템 <input type="text" class="label" /></div>
			</div>
			<div class="inputWrap">
				<div class="inputTitle">아이템 이미지 업로드</div>
				<input type="file" id="image1" onchange="setImageName(1)" /><input type="text" id="imageName" /><button onclick="doUpload(1)">doUpload</button>
			</div>
			<div class="inputWrap">
				<div class="inputTitle">아이템 이미지 선택</div>
				<input list="image-list" id="searchImageName" onkeyup="imageSearch(event)" />
				<datalist id="image-list">
				</datalist>
			</div>
			<div class="inputWrap desc">
				<div class="inputTitle">아이템 설명<textarea></textarea></div>
			</div>
			<div class="inputWrap itemName">
				<div class="inputTitle">획득 방법</div>
				<ul>
					<li>
						<div>아이템 <input /></div>
						<div>개수 <input /></div>
					</li>
				</ul>
			</div>
			<div class="inputWrap itemName">
				<div class="inputTitle">제작가능 아이템</div>
				<ul>
					<li>
						<div>아이템</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<footer></footer>
</html>
