<!DOCTYPE html>
<html lang="kr">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,  maximum-scale=1.0, shrink-to-fit=no" />
		<meta name="format-detection" content="telephone=no" />

		<title>BDR - 검은사막 레시피</title>
	</head>
	<body>
		<div><%= item.itemId %></div>
		<div><img src="<%= item.imgUrl %>" /></div>
		<div><%= item.name %></div>
		<div><%- item.desc.replace('\n', '<br />') %></div>
		<% for (let i = 0 ; Array.isArray(earn) && i < earn.length; i++) {%>
		<div><%= earn[i].type %></div>
		<div><%= earn[i].work %></div>
		<div><%= earn[i].path %></div>
		<div><%= earn[i].craftList %></div>
		<% } %> <% for (let i = 0 ; Array.isArray(usages) && i < usages.length; i++) {%>
		<div><%= usages[i].itemId %></div>
		<div><%= usages[i].useItemId %></div>
		<% } %>
	</body>
</html>
