<!DOCTYPE html>
<html lang="kr">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,  maximum-scale=1.0, shrink-to-fit=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="google-adsense-account" content="ca-pub-3352274765791981">
		<title><%= item.name %> - BDR - 검은사막 레시피</title>

		<link rel="stylesheet" href="/css/main.css?v=<%= main_css %>" type="text/css" />
		<script async type="text/javascript" src="/lib/lodash.4.6.1.js"></script>
		<script async type="text/javascript" src="/js/main.js?v=<%= main_js %>"></script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3352274765791981" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<div class="contentHeader">
				<a href="/"><div class="homeLink"><img src="/img/blackSpirit.png"></div></a>
				<div class="searchWrap">
					<input type="text" id="searchText" placeholder="파트너! 어서 궁금한 아이템명을 입력해봐!" spellcheck="false">
					<div id="autoComplete" class="empty"></div>
				</div>
			</div>
			<div class="content">
				<div class="itemHeader">
					<div class="left">
						<div class="itemImg"><img src="<%= item.itemImage.imgUrl %>" /></div>
						<div class="itemName"><%= item.name %></div>
					</div>
					<div class="right">
						<div class="btnWrap">
							<button class="btn main">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
								  </svg> <span>수정</span>
							</button>
							<button class="btn success" data-value="1" data-item-id="<%= item.itemIdEnc %>">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
									<path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"/>
								  </svg>
							</button>
							<%= item.likeCount %>
							<button class="btn reverse" data-value="0" data-item-id="<%= item.itemIdEnc %>">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
									<path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1"/>
								  </svg>
							</button>
							<button class="btn gold">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
									<path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
								  </svg>
							</button>
						</div>
					</div>
				</div>
				<div class="itemDesc"><%- item.desc.replace('\n', '<br />') %></div>
				<hr class="separator">
				<div class="subtitle">획득 방법</div>
				<div class="earnList">
					<% for (var i = 0 ; Array.isArray(item.Earns) && i < item.Earns.length; i++) {%>
					<div class="row">
						<div class="colHeader">
							<% if (item.Earns[i].type == 'craft') { %>
								<% if (item.Earns[i].path != null) { %>
									<%= item.Earns[i].path %>
								<% } %>
								<%= item.Earns[i].work %></br>
								x <input type=text class=count data-earn-input="<%= i %>" value="1">
							<% } else { %>
								<%= item.Earns[i].work %>
							<% } %>
						</div>
						<div class="row recipe">
							<% if (item.Earns[i].type != 'craft') { %>
								<% if (item.Earns[i].path != null) { %>
									<%= item.Earns[i].path %>
								<% } %>
							<% } %>
							<% for (var x = 0 ; Array.isArray(item.Earns[i].craftList) && x < item.Earns[i].craftList.length; x++) {%>
								<div class="col" style="align-items: center;">
									<div class="miniItemLabel">
										<a href="<%= item.Earns[i].craftList[x].url %>">
											<img class="miniItem" src="<%= item.Earns[i].craftList[x].imgUrl %>" />
											<span><%= item.Earns[i].craftList[x].name %></span>
										</a>
									</div>
									<div><%= item.Earns[i].craftList[x].count %> x <input class=count type=text data-earn-id="<%= i %>" data-ori-value="<%= item.Earns[i].craftList[x].count %>" readonly></div>
								</div>
							<% } %>
						</div>
					</div>
					<% } %>
				</div>
				<% if (Array.isArray(item.Usages) && item.Usages.length > 0) { %>
					<hr class="separator">
					<div class="subtitle"><%= item.name %> - 제작가능 아이템</div>
					<div class="usageList">
					<% for (var y = 0 ; Array.isArray(item.Usages) && y < item.Usages.length; y++) {%>
						<div class="miniItemLabel"><a href="<%= item.Usages[y].url %>"><img class="miniItem" src="<%= item.Usages[y].imgUrl %>" /><span><%= item.Usages[y].resultItemName %></span></a></div>
					<% } %>
					</div>
				<% }%>
			</div>
		</div>
	</body>
</html>
